/_ReSharper.SuffixTreeProject
/Debug
/Sources/ukkonen/Debug
/Sources/mccreight/Debug
/*.opensdf
/*.sdf
/*.suo
/*.suo
/*.suo
/Sources/mccreight/*.user
/ipch
/Release
/Sources/postcards/Debug
/Sources/triangle/Debug
